{% extends request.htmx|yesno:'core/empty.html,core/frame.html' %}
{% block content %}
<div class="bg-yt border1 p1" style="white-space: pre-wrap;">
 <h4 class="container-header">Allgemeine Geschäftsbedingungen (AGB)</h4>
 <div class="p2 lheight2">
   1. Geltungsbereich
   Diese Allgemeinen Geschäftsbedingungen (AGB) regeln die Nutzung der Peer-to-Peer-Sportwettenplattform "Tipptafel"
   (nachfolgend "Plattform" genannt) durch Sie als Benutzer.
   
   2. Nutzungsbedingungen
   - Die Nutzung der Plattform ist ausschließlich Personen gestattet, die das gesetzliche Mindestalter für Glücksspiel in
   ihrer Gerichtsbarkeit erreicht haben.
   - Die Nutzung der Plattform unterliegt den geltenden Gesetzen und Vorschriften in Ihrer jeweiligen Gerichtsbarkeit.
   
   3. Tipptaler und Währung
   - Tipptaler sind die plattformspezifische Währung auf Tipptafel und entsprechen immer einem Euro.
   - Tipptaler werden verwendet, um Ihnen unabhängig von Ihrem Standort und Ihrer Währung die Möglichkeit zu geben,
   miteinander zu wetten. Sie erleichtern die Wettabwicklung über Ländergrenzen hinweg.
   
   4. Wie funktioniert das Wettsystem auf Tipptafel?
   - Die Plattform ermöglicht Peer-to-Peer-Wetten, bei denen Sie Ihre eigenen Einsätze und Quoten festlegen können.
   - Bei einem Wettsystem mit drei möglichen Ausgängen (Team 1 gewinnt, Team 2 gewinnt, Unentschieden) können Sie Wetten
   erstellen und Ihre Einsätze wählen.
   - Ein anderer Benutzer, der die Wette annimmt (Kontrahent), wettet auf den verbleibenden möglichen Ausgang bzw. die
   verbleibenden möglichen Ausgänge.
   - Gewinne werden basierend auf den Ausgängen verteilt.
   
   5. Kontoerstellung
   - Sie können ein Konto erstellen, indem Sie auf der Startseite der Website auf "Registrieren" klicken und den
   Anweisungen folgen.
   
   6. Einzahlung von Geld
   - Einzahlungen können über die Seite "Zahlungen" getätigt werden. Die Plattform akzeptiert derzeit Einzahlungen in
   Bitcoin.
   
   7. Platzieren von Wetten
   - Wetten können unter "Wette erstellen" für kommende Spiele platziert werden. Sie können Wetttipps und Einsätze
   festlegen.
   
   8. Quotenfestlegung
   - Derzeit bietet Tipptafel nur Peer-to-Peer-Festwetten an. Quotenwetten werden möglicherweise in der Zukunft
   hinzugefügt.
   
   9. Wetten stornieren
   - Das Stornieren von Wetten ist auf Tipptafel nicht möglich.
   
   10. Unentschieden oder Absage von Spielen
   - Bei einem Unentschieden gewinnen Sie, wenn Sie auf "Unentschieden" getippt haben.
   - Bei einer Spielabsage oder einem Spielabbruch werden Einsätze in der Regel zurückerstattet.
   
   11. Auszahlung von Gewinnen
   - Sie können Gewinne unter "Zahlungen" auszahlen lassen. Die Auszahlung erfolgt derzeit nur in Bitcoin.
   
   12. Gebühren und Provisionen
   - Das Platzieren und Annehmen von Wetten sowie Einzahlungen sind kostenlos.
   - Die Plattform erhebt eine Gebühr von 5% des Auszahlungsbetrags für Auszahlungen. Für Auszahlungsbeträge über 100€ wird
   eine feste Gebühr von 5€ berechnet.

   13. Bearbeitung von Auszahlungen
   - Die Bearbeitung von Auszahlungen kann bis zu 3 Werktage in Anspruch nehmen. In bestimmten Fällen, insbesondere bei
   auftretenden Problemen, kann die Bearbeitung länger dauern.- Tipptafel behält sich das Recht vor, den Auszahlungsbetrag in Tipptaler/Euro nicht exakt in der Bitcoin-Höhe
   auszuzahlen, wie der Auszahlungsbetrag zum Zeitpunkt der Auszahlungsanforderung in Bitcoin umgerechnet und dem Nutzer
   angezeigt wurde. Ursächlich ist, dass der Bitcoin-Preis volatil ist und zwischen dem Zeitpunkt der
   Auszahlungsanforderung und dem Auszahlungszeitpunkt sich der Wert der zur Auszahlung angeforderten Tipptaler in Bitcoin
   ändern kann. Der Auszahlungsbetrag in Bitcoin orientiert sich an dem Auzahlungszeitpunkt durch Tipptafel (nicht am
   Auszahlungsanforderungszeitpunkt durch den Nutzer), sowie an der Auszahlungsmenge in Tipptaler.
   

   14. Verweigerung von Auszahlungen
   - Tipptafel behält sich das Recht vor, Auszahlungen zu verweigern, wenn der begründete Verdacht besteht, dass das
   Guthaben auf widerrechtliche oder nicht den AGB entsprechende Weise erspielt wurde oder wenn es Anzeichen für
   unbefugte Aktivitäten gibt.

   15. Haftung bei inkorrekten Bitcoin-Adressen
   - Tipptafel haftet nicht für Verluste oder Schäden, die durch Fehler des Nutzers bei der Einzahlung oder Auszahlung von
   Bitcoin an die inkorrekten Bitcoin-Adressen entstehen. Es liegt in der Verantwortung des Nutzers, sicherzustellen, dass
   die angegebenen Bitcoin-Adressen korrekt und gültig sind.

   16. Rückerstattung bei fehlendem Kontrahenten:
   - Wenn für eine Wette kein Kontrahent/Nutzer gefunden wird, wird der Einsatz dem Wettersteller zurückerstattet.

 </div>
</div>

{% endblock content %}