<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Zurückzahlen</title>
</head>
<body style="background-color: black; color: white;">
 <form action="" method="POST">
  {% csrf_token %}
  <h4>Wetten zurückzahlen</h4>
  <p>Grund für die Rückzahlung der Festwetten?</p>
  <label for="abbruch">Spielabsage oder Spielabbruch (Aktive, unausgezahlte Wetten)</label>
  <input type="radio" name="payback" id="abbruch" value="cancelled"> <br>
  <label for="abbruch">Spiel im Nachhinein ungültig (Inaktive, ausgezahlte Wetten)</label>
  <input type="radio" name="payback" id="nachhinein" value="invalid"> <br> <br>
  <button type="submit">Zurückzahlen</button>
 </form>
</body>
</html>